html {
  font-size: 62.5%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

@font-face {
  font-family: "futura-bold";
  src: url("../assets/font/futura-bold.woff2") format("woff2"), url("../assets/font/futura-bold.woff") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "futura";
  src: url("../assets/font/futura.woff2") format("woff2"), url("../assets/font/futura.woff") format("woff");
  font-weight: 400;
}

.hidden {
  display: none;
}

body {

}

.body{
  width: 96rem;
  margin: auto;
  background-color: #FEFFFE;
}

.logo {
  margin-top: 5rem;
}

h2 {
  font-family: futura;
  font-size: 2.5rem;
  color: #1102DF;
  width: 15rem;
  line-height: 3rem;
  margin-bottom: 2rem;
}

.header-p {
  font-family: 'Quicksand', sans-serif;
  color: #3F3F3F;
  font-size: 1.5rem;
  width: 33rem;
  border-left: 0.3rem solid #1102DF;
  padding-left: 1rem;
  line-height: 2.2rem;
}

.header-img {
  margin-top: -5rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-text {
  display: flex;
  flex-direction: column;
  margin-top: 12rem;
}

.download {
  display: flex;
  justify-content: center;
}


.w-question {
  margin-top: 10rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 10rem;
}

article{
  padding-right: 5rem;
}

h3 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 550;
  font-size: 1.7rem;
  text-align: center;
}

#who{
  color: #1102DF;
}

#what{
  color: #F3A0AE;
}

#why{
  color:#1CD4A8;
}

#how{
  color:#1102DF;
}
.text-wq{
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem;
  color: #3F3F3F;
  font-weight: 400;
  text-align: center;
  line-height: 2rem;
  padding-top: 1rem;
}

.how-section{
  margin-bottom: 10rem;
  margin-top: 15rem;

}

.text-how{
  width: 75rem;
  margin: auto;
  line-height: 2.5rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-top: -6rem;
}

.container-pdf {
  display: flex;
  width: 75rem;
  margin:auto;
  margin-top: 2rem;
  justify-content: flex-end;
}


.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10rem;
  font-family: 'Quicksand', sans-serif;
  font-weight: 450;
  font-size: 1.8rem;
  width: 25rem;
  height: 7rem;
  cursor: auto;
  outline: none;
  border:none;
}


.btn:hover {
  background-position: right center;
  cursor: auto;
}

.btn-1 {
  background-image: linear-gradient(to right, #FE5C5E 0%, #FA7F38 51%, #FE5C5E 100%);
}


footer{
  background-color:#1CD4A8;
  height: 20rem;
  padding-top: 5rem;

}

.footer-container{
  width: 96rem;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-bottom: 2rem;
}

.footer-logo{
  padding-left: 8rem;
}

.footer-p{
  width: 96rem;
  margin: auto;
  display: flex;
  justify-content: flex-end;
  color: white;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
}
